body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat-Black";
}

p {
    color: #8f8f8f;
}

/* Headings */

.big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }

  /* Containers */

.container-fluid{
    padding: 7% 15%;
  }
  
  /* Sections */
  
  .colored-section {
    background-color: #ff4c68;
    color: #fff;
  }
  
  .white-section {
    background-color: #fff;
  }

/* Navigatin Bar */
.navbar{
    padding-bottom: 4.5rem ;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* Download Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
    width: 60%;
    transform: rotate(25deg);
}

/* Feature Section */
#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
} 

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
    margin: 20px 10px;
  }
  
  @media (max-width: 1028px) {
  
    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }
  